@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


#content-area {
    overflow: auto;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f2;
}