@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


#content-area {
    overflow: auto;
    margin: 10px 0px;
    padding: 15px 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f2;
    position: relative;
    top: 75px;
    /* overflow-y:scroll;  */
    width: 100%;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.content-section {
    display: none;
    /* margin: 0px auto; */
}

.active-area {
    display: inline-block;
    /* text-align: left; */
    max-width: 800px;
}

p {
    padding: 15px;
    text-align: left;
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', sans-serif;
}

@media screen and (max-width: 768px) {
    #content-area {
        padding: 15px;
        top: 95px;
    }
}